<%= content_for :head do %>
	<%= stylesheet_link_tag 'home', 'data-turbolink-track' => true %>
<% end %>

<header id="banner">
	<div class="mask">
		<div id="textslider" class="slider cwtexqfangsong">
			<ul>
				<li>
					改變學習思維<br>從教室開始
				</li>
				<li>
					翻轉教育<br>真正高效學習
				</li>
			</ul>
		</div>
		<p>這裡是一個固定的小段落，來放對於上面大標題的補充解釋，此處並不會隨著上面文字而變動</p>
	</div>
</header>
<article id="points" class="row">
	<div class="4u cell">
		<hr class="h1line">
		<h2>這放標題</h2>	
		<p>
			這裡有一些內文來敘述標題解釋標題，三個重點來凸<br/><br/>船長。這裡有一些內文來敘述標題解釋標題，三個重點來凸顯不一樣，這裡是第二個虎克船長
		</p>
	</div>
	<div class="4u cell">
		<hr class="h1line">
		<h2>這放標題</h2>	
		<p>
			這裡有一些內文來敘述標題解釋標題，三個重點來凸顯不一樣，這裡是第二個虎克船長。這裡有一些內文來敘述標題解釋標題，三個重點來凸顯不一樣，這裡是第二個虎克船長第二個虎克船長。這裡有一些內文來敘述標題解釋標題，三個重點來凸顯不一樣。
		</p>
	</div>
	<div class="4u cell">
		<hr class="h1line">
		<h2>這放標題</h2>	
		<p>
			這裡有一些內文來敘述標題解釋標題，三個重點來凸顯不一樣，這裡是第二個虎克船長。這裡有一些內文來敘述標題解釋標題，三個重點來凸顯不一樣，這裡是第二個虎克船長
		</p>
	</div>

	<hr />

</article>
<article class="test">
	

</article>