<%= content_for :head do %>
	<%= stylesheet_link_tag 'home', 'data-turbolink-track' => true %>
<% end %>

<header id="banner">
	<div class="mask">
		<div id="textslider" class="slider cwtexqfangsong">
			<ul>
				<li>
					改變學習思維<br>從教室開始
				</li>
				<li>
					翻轉教育<br>真正高效學習
				</li>
			</ul>
		</div>
		<p>這裡是一個固定的小段落，來放對於上面大標題的補充解釋，此處並不會隨著上面文字而變動</p>
	</div>
</header>
<article id="points" class="row">
	<div class="4u 12u(small) cell">
		<hr class="h1line">
		<h2>這放標題</h2>	
		<p>
			這裡有一些內文來敘述標題解釋標題，三個重點來凸<br/><br/>船長。這裡有一些內文來敘述標題解釋標題，三個重點來凸顯不一樣，這裡是第二個虎克船長
		</p>
	</div>
	<div class="4u 12u(small) cell">
		<hr class="h1line">
		<h2>這放標題</h2>	
		<p>
			這裡有一些內文來敘述標題解釋標題，三個重點來凸顯不一樣，這裡是第二個虎克船長。這裡有一些內文來敘述標題解釋標題，三個重點來凸顯不一樣，這裡是第二個虎克船長第二個虎克船長。這裡有一些內文來敘述標題解釋標題，三個重點來凸顯不一樣。
		</p>
	</div>
	<div class="4u 12u(small) cell">
		<hr class="h1line">
		<h2>這放標題</h2>	
		<p>
			這裡有一些內文來敘述標題解釋標題，三個重點來凸顯不一樣，這裡是第二個虎克船長。這裡有一些內文來敘述標題解釋標題，三個重點來凸顯不一樣，這裡是第二個虎克船長
		</p>
	</div>

</article>
<hr />
<article id="about">
	<h1 class="bigbanner">關於補習班<span class="little_describe">這是一個小標題</span></h1>
	<!-- <div class="block">
		
	</div> -->
</article>
<hr />
<article id="methods">
	<h1 class="bigbanner">教學方法<span class="little_describe">轉化成學習行動，反省學習經驗，反覆利用成果</span></h1>
	<div class="row">
		<div class="6u 12u(small) method" id="method1">
			<div class="mask">
			<h2>一.自學</h2>
			<p class="hover-vis">主流的觀點認為《君王論》的政治理論邪惡而令人震驚。即使放在當時的歷史背景下來看，仍然是過分而不可接受的。因此產生了「馬基雅維利主義」一詞，特地描繪「為達到目的不擇手段」，以及「表面仁厚實則殘忍的虛偽政治」等等特質。</p>
			</div>
		</div>
		<div class="6u 12u(small) method" id="method2">
			<div class="mask">
			<h2>二.討論</h2>
			<p class="hover-vis">主流的觀點認為《君王論》的政治理論邪惡而令人震驚。即使放在當時的歷史背景下來看，仍然是過分而不可接受的。因此產生了「馬基雅維利主義」一詞，特地描繪「為達到目的不擇手段」，以及「表面仁厚實則殘忍的虛偽政治」等等特質。</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="6u 12u(small) method" id="method3">
			<div class="mask">
			<h2>三.操作</h2>
			<p class="hover-vis">主流的觀點認為《君王論》的政治理論邪惡而令人震驚。即使放在當時的歷史背景下來看，仍然是過分而不可接受的。因此產生了「馬基雅維利主義」一詞，特地描繪「為達到目的不擇手段」，以及「表面仁厚實則殘忍的虛偽政治」等等特質。</p>
			</div>
		</div>
		<div class="6u 12u(small) method" id="method4">
			<div class="mask">
			<h2>四.檢討</h2>
			<p  class="hover-vis">主流的觀點認為《君王論》的政治理論邪惡而令人震驚。即使放在當時的歷史背景下來看，仍然是過分而不可接受的。因此產生了「馬基雅維利主義」一詞，特地描繪「為達到目的不擇手段」，以及「表面仁厚實則殘忍的虛偽政治」等等特質。</p>
			</div>
		</div>
	</div>
</article>
<hr />
<article id="gallery">
	<h1 class="text-center bigbanner">為什麼選擇我們？</h1>
	<section id="wheel" class="row flex-center">
		<div class="1u 12u(small) pad"></div>
		<div class="1u 12u(small) col"><h1 class="text-center">從</h1></div>
		<div class="4u 12u(small) col wheel-container">
			<h2 class="text-center wheel-r term1">到補習班苦讀</h2>
			<h2 class="text-center wheel-r term2">有些東西</h2>
			<h2 class="text-center wheel-r term3">有些東西</h2>
			<h2 class="text-center wheel-r term4">有些東西</h2>
			<h2 class="text-center wheel-r term5">有些東西</h2>
			<h2 class="text-center wheel-r term6">有些東西</h2>
			<h2 class="text-center wheel-r term7">有些東西</h2>
		</div>
		<div class="1u 12u(small) col"><h1 class="text-center">到</h1></div>
		<div class="4u 12u(small) col wheel-container">
			<h2 class="text-center wheel-r term1">老師引導思考</h2>
			<h2 class="text-center wheel-r term2">有些東西</h2>
			<h2 class="text-center wheel-r term3">有些東西</h2>
			<h2 class="text-center wheel-r term4">有些東西</h2>
			<h2 class="text-center wheel-r term5">有些東西</h2>
			<h2 class="text-center wheel-r term6">有些東西</h2>
			<h2 class="text-center wheel-r term7">有些東西</h2>
		</div>
		<div class="1u 12u(small) pad"></div>
	</section>
	<section>
		<h1 class="bigbanner">風雲榜</h1>
	</section>
	<section id="map" class="row">
		<iframe class="12u" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d920.6095770895614!2d120.3005771!3d22.637441!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x3d79128fbeef1338!2z54Sh5ZCN5pep6aSQ5bqX!5e0!3m2!1szh-TW!2stw!4v1456155777661" width="1600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>
</article>