$red : #cf4b5e;
$lightgreen : #b9dabb;
$green      : #74ba9c;
$yellow     : #f6e09e;
$darkgreen  : #919c8e;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body { margin: 0; padding: 0; }
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: rgba(244,244,244,1);
	text-align: center;
	z-index: 100;
	ul {
		margin: auto;
		padding: 0;
		height: 100%;
		list-style: none;
		display: inline-block;
		li {
			display: inline-block;
			margin-left: -4px;
			margin: 0 10px 0 6px;
			padding: 10px;
			font-size: 20px;
			height: 100%;
			line-height: 28px;
			box-shadow: inset 0 0 0 0 $lightgreen;
			transition: all ease 0.3s;
			&:hover {
				box-shadow: inset 0 -100px 0 0 $lightgreen;
			}
		}
		li:first-child {
			margin-left: 0;
		}
	}
}