$red : #cf4b5e;
$lightgreen : #b9dabb;
$green      : #74ba9c;
$yellow     : #f6e09e;
$darkgreen  : #919c8e;

#banner {
	background: image-url('header.png') no-repeat center center fixed ;
	-webkit-background-size: cover;
	background-size: cover;
	height: 665px;
	#textslider {
		ul {
			list-style: none;
			margin: 0;
			padding: 150px 0 0 0;
			position: relative;
		}
		li {
			color: #fff;
			font-size: 80px;
			text-align: center;
			position: absolute;
			width: 100%;
		}
	}
	p {
		margin: 300px 0 0 0;
		color: #fff;
		font-size: 20px;
		text-align: center;
	}
}

.mask {
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
}

#points {
	position: relative;
	margin: 0;
	padding: 50px;

	.cell {
		position: relative;
		padding: 30px 30px 30px 50px;
		.h1line {
			width: 50px;
			border: 0;
			border-top: 1.5px solid rgba(0,0,0,0.2);
			position: absolute;
			top: 66px;
			left: 15px;
		}
		h2 {
			padding-left: 25px;
		}
		p {
			padding-left: 25px;
		}	
	}

}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0,0,0,0.8);
	float: none;
}

#about {
	padding: 50px;
	h1 {
		font-size: 30px;
		letter-spacing: 10px;
		span {
			font-size: 20px;
		}
	}
	.block {
		width: 500px;
		height: 300px;
		border: 1px solid black;
	}
}

#methods {
	.method {
		height: 400px;
		position: relative;
		overflow: hidden;
		color: #f4f4f4;
		&:hover .hover-vis {
			opacity: 1;
			transition: opacity ease 0.1s;
		}
		h2 {
			z-index: 5;
			position: relative;
			padding: 30px 50px;
			margin: 0;
			font-size: 23px;
		}
		p {
			padding: 0 30px;
			font-size: 18px;
		}
	}
	#method1 {
		background: image-url('method1.jpg') no-repeat center center;
	}
	#method2 {
		background: image-url('method2.jpg') no-repeat center center;
	}
	#method3 {
		background: image-url('method3.jpg') no-repeat center center;
	}
	#method4 {
		background: image-url('method4.jpg') no-repeat center center;

	}
}
.bigbanner {
	font-size: 30px;
	letter-spacing: 10px;
	padding: 50px;

}
.text-center {
	text-align: center;
}
.hover-vis {
	opacity: 0;
}
.row{
	margin: 0 0 -1px 0 ;
	&>* {
		padding: 0;
	}
}

.test{
	height:1000px;
}
